
{#
	These macros are just space saving wrappers for the static files stored
	in the static/js or static/css directories.

	path is the path to the actual ressource.
	eg: to get the jquery.knob.js script use :

		{% import 'macros/include-macros.html' as include %}
		{{ vendor.script('knob/jquery.knob.js')}}
#}

{% macro js(path) %}
	<script src="{{  url_for('static', filename = 'js/{}.js'.format(path)) }}" type="text/javascript"></script>
{% endmacro %}


{% macro jsx(path) %}
	<script src="{{  url_for('static', filename = 'js/Components/{}.jsx'.format(path)) }}" type="text/jsx"></script>
{% endmacro %}


{% macro css(path) %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/{}.css'.format(path)) }}">
{% endmacro %}


{% macro vendor_js(folder, file = None) %}
	{% set file = file if file else folder %}

	<script src="{{
		url_for('static', filename = 'vendor/{}/js/{}.js'.format(folder, file))
	}}">
	</script>
{% endmacro %}


{% macro vendor_css(folder, file) %}
	{% set file = file if file else folder %}

	<link rel="stylesheet" href="{{
		url_for('static', filename = 'vendor/{}/css/{}.css'.format(folder, file))
	}}">
{% endmacro %}


{% macro img(path, alt, title, _class) %}
	<img
		src="{{ url_for('static', filename = 'img/' + path) }}"
		alt="{{ alt }}"
		class = "{{ _class }}" />
{% endmacro %}
