
{% import 'macros/include.html' as _ %}
{% extends 'base.html' %}

{% block title %}
  Raw Data
{% endblock %}

{% block js_includes %}
  <!-- I know, I should probably be using gulp to precompile everything, and bundle it all ... Just call me lazy ! -->
  {{ _.js('dist/react-0.12.2') }}
  {{ _.js('dist/JSXTransformer-0.12.2') }}
  {{ _.js('dist/moment') }}
  
  {{ _.js('CheckinSource') }}
  {{ _.jsx('CheckinItem')   }}
  {{ _.jsx('CheckinList')   }}
  {{ _.jsx('stream')        }}

  <script type="text/javascript">
    if (!document.globals)
      document.globals = {};
    
    document.globals.world_name = '{{ world_name }}';
  </script>

{% endblock %}

{% block body %}
<section class="clearfix">  
  <div class="pull-right btn-group">
    <a href="{{ url_for('computer.world_properties', world_name = world_name) }}"
       class="btn btn-primary">
      World Properties
    </a>

    <a href="{{ url_for('computer.dashboard', world_name = world_name) }}"
       class="btn btn-primary">
      Dashboard
    </a>
  </div>

  <h3>{{ world_name }}</h3>
</section>

<hr>

<h4>Realtime checkins stream:</h4>
<div id="log-container"></div>

{% endblock %}
