
{% extends 'base.html' %}

{% block title %}
  Raw Data
{% endblock %}

{% block js_includes %}
  <script src="http://fb.me/react-0.12.2.js"></script>
  <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js"></script>

  <!-- I know, I should probably be using gulp to precompile everything, and bundle it all ... Just call me lazy ! -->
  {{ _.js('js/CheckinSource.js') }}
  {{ _.js('js/CheckinItem.js') }}
  {{ _.js('js/CheckinList.js') }}
  {{ _.js('js/raw.js') }}

{% endblock %}

{% block body %}
<h4>Realtime checkins stream:</h4>
<div id="log-container"></div>

{% endblock %}
