{% import 'macros/progress_bar.html' as progress_bar with context %}

{% extends 'base.html' %}

{% block title %}
  Checkins for {{ computer.computer_name }} in {{ computer.world_name }}
{% endblock %}

{% block js_includes %}

	{{ _.js('CheckinStreamer')             }}
	{{ _.js('CheckinStream/CheckinSource') }}

	<script type="text/javascript">
		CheckinSource.listen( {{computer.parent_world.id}}, {{computer.computer_id}} );

		var checkin_streamer = new CheckinStreamer($('.checkin-stream'));
		checkin_streamer.start();
	</script>

{% endblock %}


{% block body %}

<section class="panel panel-default">
	<div class="panel-heading">
		Checkins for {{ computer.cc_name }} in {{ computer.parent_world.name }}
	</div>

	<div class="panel-body">
		<section class="row checkin-stream">

			{% for checkin in checkins %}
				{% set message_class = "message bg-danger" if checkin.type == "error" else "message" %}
				<div class="log-line">
					<span class="created-at">{{ checkins.created_at }}</span>
					<span class="computer-name">
						[Id: {{ checkin.cc_id }}] {{ checkin.cc_name }}</span>
					<span class="task-name">{{ checkin.task }}</span>
					<span class="{{ message_class }}">{{ checkin.status }}</span>
				</div>
			{% endfor %}

			<div class="col-sm-12">
				<p class="text-center load-more">
					<a id="load-more-link" href="#">Load More</a>
				</p>
			</div>
		</section>
	</div>
</section>

{% endblock %}

