{% import 'macros/progress_bar.html' as progress_bar with context %}

{% extends 'base.html' %}

{% block title %}
  {{ computer.cc_name }} in {{ computer.parent_world.name }} Details
{% endblock %}

{% block js_includes %}

	{{ _.js('CheckinStreamer')             }}
	{{ _.js('NotificationStreamer')        }}
	{{ _.js('CheckinStream/CheckinSource') }}

	<script type="text/javascript">
		CheckinSource.listen( {{computer.parent_world.id}}, {{computer.cc_id}} );

		var checkin_streamer = new CheckinStreamer($('.checkin-stream'));
		checkin_streamer.start();

		var notification_streamer = new NotificationStreamer();
		notification_streamer.start();
	</script>

{% endblock %}


{% block body %}

<section class="panel panel-default">
	<div class="panel-heading">
		{{ computer.cc_name }} in {{ computer.parent_world.name }} Details
	</div>

	<div class="panel-body">
		<section class="row">
			<div class="col-sm-12">
				<a href="{{ url_for('ComputerCheckinsView:index',
					world_id = computer.parent_world_id,
					computer_id = computer.cc_id) }}"
			   class="btn btn-primary pull-right"
				>
					Checkin Stream
				</a>
			</div>

		</section>

		<section class="row">
			<div class="col-md-2">
				{{ _.img(
					'computer-tiny.png',
					'A picture of a computercraft computer',
					'Computer',
					_class = 'center-block'
				) }}
			</div>

			<div class="col-md-5">
				<h3>
					{{ computer.cc_name }} - (Id: {{ computer.cc_id }})
				</h3>

				<h4>
					{{ computer.current_task }} - <small>{{ computer.last_status }}</small>
				</h4>

				<p>
					This computer is <span class="highlight">{{ computer.age|mcTime }}</span> old. During its lifetime it has checked in <span class="highlight">{{ computer.total_checkins }}</span> times.

					{# only report dig stats if the computer actually digs #}
					{% if computer.total_blocks_dug %}
						During it's lifetime it has dug <span class="highlight">{{ computer.total_blocks_dug }}</span>blocks and moved <span class="highlight">{{ computer.total_moves }}</span> times.
					{% endif %}
				</p>

				{{ progress_bar.render(
					(computer.progress or 0), 'Task Progress',
					striped = True, slim = True)
				}}

				{{ progress_bar.render(
					(computer.fuel_level or 0), 'Fuel Level',
					striped = True, slim = True)
				}}

				{{ progress_bar.render(100, 'Inventory',
					striped = True, slim = True) }}

			</div>

			<div class="col-md-5">
				<h4>Frequent Tasks</h4>


				<table class="table table-compact table-striped table-bordered">
					<thead>
						<tr>
							<td>Task Name</td>
							<td>Calls</td>
						</tr>
					</thead>

					<tbody>
						{% for task in tasks %}
							<tr><td>{{ task[0] }}</td><td>{{ task[1] }}</td></tr>
						{% else %}
							<tr><td colspan=2>Loading Data ...</td></tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</section>

		<section class="row">
			<div class="chart fuel-chart">Chart - WIP</div>
			<div class="chart blocks-chart">Chart - WIP</div>
		</section>

		<section class="row checkin-stream">
		</section>
	</div>
</section>

{% endblock %}

