
{% import 'macros/include.html' as _ %}
{% extends 'base.html' %}

{% block title %}
  Computer Dashboard
{% endblock %}

{% block js_includes %}
  {{ _.js('dist/react-0.12.2')          }}
  {{ _.js('dist/JSXTransformer-0.12.2') }}
  {{ _.js('dist/moment')                }}

  {{ _.jsx('dash') }}

  <script>
  	if (!document.globals)
  		document.globals = {};
  	
  	document.globals.world_name = '{{ world_name }}';
  </script>

{% endblock %}

{% block body %}

<div id="content"></div>

{% endblock %}
