
{% import 'macros/widget.html' as widget %}
{% extends 'base.html' %}

{% block title %}
	Index
{% endblock %}

{% block body %}

{% for world in _worlds %}

<section class="panel panel-info">
	<div class="panel-heading">
		{{ world.name|title }} Information
	</div>

	<div class="panel-body">
		<section class="row">

			<div class="col-md-4">
				<a href="{{ url_for('WorldView:index',
					world_name = world.name) }}">
					<h3>{{ world.name|title }}</h3>
				</a>

			</div>

			<div class="col-md-4">

			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="computer-counter-small">
						<div class="left">
							{{ _.img(
								'computer-tiny.png',
								'A picture of a computercraft computer',
								'Computer'
							) }}
						</div>

						<div class="right">
							<h4>Devices</h4>
							<p>{{ world.devices|length }}
						</div>
					</div>


				</div>
			</div>

		</section>

		<section class="checkin-stream"></section>
	</div>
</section>

{% else %}
	<h4>That's odd,</h4>
	<p>It looks like you don't have any checkins ! Time to launch computercraft friend !</p>
{% endfor %}
{% endblock %}
