{% extends 'base.html' %}

{% block title %}
	Raw Data
{% endblock %}


{% block body %}

{% for checkin in checkins %}

<div class="log-line">
	<span class="log-time">{{ checkin["created_at"]| datetime }}</span>
	<span class="computer-name">
		{{ checkin["computer_id"] }} {{ checkin["computer_name"] }}
	</span>
	<span class="task-name">task: {{ checkin["task"] }}</span>
	<span class="message">
		{% if checkin["message_type"] == "error" %}
			<span class="text-danger">{{ checkin["status"] }}</span>
		{% else %}
			{{ checkin["status"] }}
		{% endif %}
	</span>
</div>

{% endfor %}


{% endblock %}
