
{% import 'macros/include.html' as _ %}
{% extends 'base.html' %}

{% block title %}
  Raw Data
{% endblock %}

{% block js_includes %}
  <!-- I know, I should probably be using gulp to precompile everything, and bundle it all ... Just call me lazy ! -->
  {{ _.js('dist/react-0.12.2') }}
  {{ _.js('dist/JSXTransformer-0.12.2') }}
  {{ _.js('dist/moment') }}
  
  {{ _.js('CheckinSource') }}
  {{ _.jsx('CheckinItem')   }}
  {{ _.jsx('CheckinList')   }}
  {{ _.jsx('stream')        }}

  <script type="text/javascript">
    if (!document.globals)
      document.globals = {};
    
    document.globals.world_name = '{{ world_name }}';
  </script>

{% endblock %}

{% block body %}
<h4>Realtime checkins stream:</h4>
<div id="log-container"></div>

{% endblock %}
