/* Make sure that the content is not being hidden by the top bar */
.body-wrapper {
  margin-top: 50px;
}
/* Hackish classes */
.text-strong {
  font-weight: bold;
}
/* make all tables compact by default. I hate whitespace, Muhahahahaaaaaa ! */
table {
  width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
table .table {
  background-color: #ffffff;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 5px;
}
.dashboard {
  background: url(/static/img/bkg-2.jpg) no-repeat center center fixed;
  background-size: cover;
}
.dashboard .data-box {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.dashboard .data-box img {
  width: 100px;
  margin: 0 20px 20px 0;
}
.dashboard table {
  font-size: 1rem;
}
