/* Make sure that the content is not being hidden by the top bar */
.body-wrapper {
  margin-top: 50px;
}
body {
  background-color: #222;
}
/* Hackish classes */
.text-strong {
  font-weight: bold;
}
/* make all tables compact by default. I hate whitespace, Muhahahahaaaaaa ! */
table {
  width: 100%;
  margin-bottom: 21px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #464545;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #464545;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #464545;
}
table .table {
  background-color: #222222;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 5px;
}
.log-line {
  font-family: monospace;
  color: #999999;
}
.log-line .computer-name {
  color: #f39c12;
  font-weight: bold;
}
.log-line .task-name {
  color: #00bc8c;
}
