<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} TITLE MISSING {% endblock %}</title>

    {% if autorefresh %}
      <meta http-equiv="refresh" content="30">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Terrapin Web</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('computer.index') }}">
              Overview
            </a></li>
            <li><a href="{{ url_for('computer.raw_data') }}">Raw</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container body-wrapper">

    {% block body %} Oops, Looks like you messed around witht the tags {% endblock %}

    </div><!-- /.container -->


    <!-- Core Scripts - Include with every page -->
    <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
