{% import 'macros/include.html' as _ %}

{% import 'macros/navbar.html' as navbar with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} TITLE MISSING {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {{ _.css('bootstrap/bootstrap') }}
    {{ _.css('font-awesome')        }}

    <!-- Custom styles for this template -->
    {{ _.css('base')}}
  </head>

  <body>

    {{ navbar.render() }}

    <div class="container body-wrapper">
      {% block body %} 
        Oops, Looks like you messed around with the tags. There's nothing to display here.
      {% endblock %}
    </div><!-- /.container -->

    <!-- Core Scripts - Include with every page -->
    {{ _.js('dist/jquery-2.0.3.min') }}
    {{ _.js('dist/bootstrap.min')    }}

    {% block js_includes %}{% endblock %}
  </body>
</html>
