{% import 'macros/include.html' as _ with context %}

{% import 'macros/navbar.html'      as navbar      with context %}
{% import 'macros/breadcrumbs.html' as breadcrumbs with context %}
{% import 'macros/sidebar.html'     as sidebar     with context %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} TITLE MISSING {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {{ _.css('bootstrap/bootstrap')           }}
    {{ _.css('font-awesome/font-awesome')     }}
    {{ _.css('admin-lte/admin-lte')           }}
    {{ _.css('admin-lte/skins/_all-skins')    }}

    <!-- Custom styles for this template -->
    {{ _.css('base')}}
  </head>

  <body class="skin-blue sidebar-mini">

    <div class="wrapper">

      {{ navbar.render() }}
      {{ sidebar.render( _menu_items ) }}

      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container-fluid">

          <!-- Content Header (Page header) -->
          <section class="content-header">
            {{ title }}
            {{ breadcrumbs.render() }}
          </section>

          <!-- Main content -->
          <section class="content">
            {% block body %}
              <h1>Oops, it looks like something went wrong ...</h1>

              <p>Maybe you messed around with the tags. There's nothing to display here.</p>

              <p>Insert a <pre>{% raw %}{{ block body }} ... {{ endblock }}{% endraw %}</pre> statement into your template !</p>
            {% endblock %}
          </section><!-- /.content -->

        </div><!-- /.container -->

      </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="container-fluid">
          <div class="pull-right hidden-xs">
            <b>Version</b> 0.1
          </div>
          <strong>Copyright &copy; 2014-2015 (Thibaud Chupin).</strong> All rights reserved.
        </div><!-- /.container -->
      </footer>

    </div><!-- ./wrapper -->


    <!-- Core Scripts - Include with every page -->

    {{ _.js('dist/jquery/jquery-2.1.3.min') }}
    {{ _.js('dist/bootstrap/bootstrap.min') }}
    {{ _.js('dist/moment/moment')       }}

    {{ _.js('admin-lte')                    }}

    {% block js_includes %}{% endblock %}
  </body>
</html>
